---
// Define an interface for the component's props
export interface Props {
    id: number;
    name: string;
    total_price: number;
}

// Import the BASE_URL constant from the Astro environment
import { BASE_URL } from "astro:env/server";

// Destructure the 'id', 'name', and 'total_price' properties from the Astro.props object
const { id, name, total_price } = Astro.props;

// Determine the class name based on the total price
// If total_price is greater than 0, set the class to "unpaid"; otherwise, set it to an empty string
const unpaid = total_price > 0 ? "unpaid" : "";
---

<!-- Anchor element linking to the project's details page -->
<a href={`${BASE_URL || "/"}projects/${id}`} class="project">
    <!-- Paragraph displaying the project name -->
    <p>{name}</p>
    <!-- Paragraph displaying the total price, formatted to two decimal places, with a conditional class for unpaid projects -->
    <p class={unpaid}>{total_price.toFixed(2)}€</p>
</a>

<style>
    .project {
        min-height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background: var(--background-primary);
        padding: 0 2rem;
        margin: 0 2rem;
        text-decoration: none;
        color: var(--color-primary);
        font-size: 1.5rem;
        box-shadow: 0px 2px 7px 0px var(--background-dark);
        transition: transform 200ms;
    }

    .project:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    .project p {
        text-transform: capitalize;
    }

    .unpaid {
        color: var(--color-error);
    }
</style>
