---
import Student from "../components/Student.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = false;

import { SERVER_API_BASE_URL, BASE_URL } from "astro:env/server";

const response = await fetch(`${SERVER_API_BASE_URL}students`);
const students = await response.json();
---

<Layout>
	<div class="students">
		{students.map((student) => <Student {...student} />)}
	</div>
	<Button
		url=`${BASE_URL || "/"}students/new`
		text="Nuevo usuario"
		style="default"
		css="mb-1 mt-1"
	/>
</Layout>

<style>
	.students {
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
		gap: 0.8rem;
		flex-grow: 1;
		overflow-y: overlay;
		padding: 7px 0;
	}
</style>
