.project {
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: var(--background-primary);
    padding: 0 2rem;
    margin: 0 2rem;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    box-shadow: 0px 2px 7px 0px var(--background-dark);
    transition: transform 200ms;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.project p {
    text-transform: capitalize;
}

.unpaid {
    color: var(--color-error);
}